

    <script src="js/zerif.js"></script>

<!-- =========================
   PRE LOADER
============================== -->
<!--<div class="preloader">
    <div class="status">&nbsp;</div>
</div> -->
<!-- =========================
   HOME SECTION
============================== -->
<header id="home" class="header">

    <!-- TOP BAR -->
    <div id="main-nav" class="navbar navbar-inverse bs-docs-nav" role="banner">
        <div class="container">
            <div class="navbar-header responsive-logo">
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand">
                    <a href="./"><img src="images/logo.png" alt=""></a>
                </div>
            </div>
            <nav class="navbar-collapse collapse" role="navigation" id="bs-navbar-collapse">
                <ul class="nav navbar-nav navbar-right responsive-nav main-nav-list">
                    <li><a href="./">Home</a></li>
                    <li><a href="#focus">Salaried</a></li>
                    <li><a href="#works">Professionals</a></li>
                    <li><a href="#aboutus">Nris</a></li>
                    <li><a href="#team">Tools</a></li>
                    <li><a href="#pricingtable">Need Help</a></li>
                    <li><a href="#"><i class="fa fa-search"></i></a></li>
                    <li class="button-cont"><a href="#" class="login-btn"  data-toggle="modal" data-target="#myModal">Login</a></li>
                    <li class="button-cont"><a href="#" class="signup-btn" data-toggle="modal" data-target="#myModal">Signup</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- / END TOP BAR -->

    <!-- BIG HEADING WITH CALL TO ACTION BUTTONS AND SHORT MESSAGES -->
    <div class="container">

        <!-- HEADING -->
        <h1 class="intro">Filing income tax return...<br/>easy like never before</h1>

        <!-- CALL TO ACTION BUTTONS -->
        <div class="buttons inpage-scroll">
            <a href="#works" class="btn btn-primary custom-button red-btn">Start e-filing for free</a>

        </div>

        <!-- 3 SHORT MESSAGE ABOUT COMPANY -->
        <!-- <div class="row bottom-message-section">
            <div class="col-lg-4 col-sm-4">
                <div class="short-text">
                    <i class="fa fa-server"></i> Fixed price for packages
                </div>
            </div>
            <div class="col-lg-4 col-sm-4">
                <div class="short-text">
                    <i class="fa fa-clock-o"></i> Quality product in time
                </div>
            </div>
            <div class="col-lg-4 col-sm-4">
                <div class="short-text">
                    <i class="fa fa-check"></i> Satisfaction guranteed
                </div>
            </div>
        </div> -->
    </div> <!-- / END BIG HEADING WITH CALL TO ACTION BUTTONS AND SHORT MESSAGES  -->

</header> <!-- / END HOME SECTION  -->

<!-- =========================
   FOCUS SECTION
============================== -->

<section class="focus" >
    <div class="container">

        <!-- / END SECTION HEADER -->

        <!-- 4 FOCUS BOXES -->
        <div class="row">

            <div class="col-lg-3 col-sm-3 focus-box red wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
                <a href="pan.html"><div class="service-icon">
                    <span class="pixeden pd-icon-camera"></span>
                </div>
                    <h5 class="red-border-bottom">Pan Mangement</h5></a>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
                </p>
            </div>

            <div class="col-lg-3 col-sm-3 focus-box green wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
                <a href="#"><div class="service-icon">
                    <span class="pixeden pd-icon-monitor"></span>
                </div>
                    <h5 class="green-border-bottom">E-filing</h5></a>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
                </p>
            </div>

            <div class="col-lg-3 col-sm-3 focus-box blue wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
                <a href="#"><div class="service-icon">
                    <i class="pixeden pd-icon-email-marketing"></i>
                </div>
                    <h5 class="blue-border-bottom">HRA Calculator</h5></a>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
                </p>
            </div>

            <div class="col-lg-3 col-sm-3 focus-box yellow wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
                <a href="#"><div class="service-icon">
                    <i class="pixeden pd-icon-check"></i>
                </div>
                    <h5 class="yellow-border-bottom">Refund Status</h5></a>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
                </p>
            </div>
        </div>
        <!-- / END 4 FOCUS BOXES -->
    </div> <!-- / END CONTAINER -->
</section>  <!-- / END FOCUS SECTION -->

<!-- =========================
   PACKAGES SECTION
============================== -->

<section class="packages" >
    <div class="container">

        <!-- SECTION HEADER -->
        <div class="section-header">

            <!-- SECTION TITLE -->
            <h2 class="white-text">Packages</h2>

            <!-- SHORT DESCRIPTION ABOUT THE SECTION -->
            <h6 class="white-text">
                We have 4 friendly packages for you. Check all the packages and choose the right one for you.
            </h6>
        </div>
        <!-- / END SECTION HEADER -->

        <!-- PACKAGES -->
        <div class="row">

            <!-- FIRST PACKAGE -->
            <div class="col-lg-3 col-sm-3">
                <div class="package wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
                    <div class="package-header green-bg">
                        <h5>Basic</h5>
                    </div>
                    <div class="price dark-bg">
                        <div class="price-container">
                            <h4><span class="dollar-sign">&#8377;</span>15</h4><span class="price-meta">
					    / yr
					</span>
                        </div>
                    </div>
                    <ul>
                        <li><i class="fa fa-check"></i>Lorem ipsum dolor </li>
                        <li><i class="fa fa-check"></i>Lorem ipsum </li>
                        <li><i class="fa fa-close"></i>Lorem ipsum dolor </li>
                        <li><i class="fa fa-close"></i>Lorem ipsum dolor </li>
                        <li><i class="fa fa-close"></i>Lorem ipsum </li>
                    </ul>
                    <a href="#" class="btn btn-primary custom-button green-btn">
                        Sign Up </a>
                </div>
            </div> <!-- / END FIRST PACKAGE -->

            <div class="col-lg-3 col-sm-3">
                <div class="package wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
                    <div class="package-header blue-bg">
                        <h5>Standard</h5>
                    </div>
                    <div class="price dark-bg">
                        <div class="price-container">
                            <h4><span class="dollar-sign">&#8377;</span>21 </h4>
                            <span class="price-meta">/ yr</span>
                        </div>
                    </div>
                    <ul>
                        <li><i class="fa fa-check"></i>Lorem ipsum dolor </li>
                        <li><i class="fa fa-check"></i>Lorem ipsum </li>
                        <li><i class="fa fa-check"></i>Lorem ipsum dolor </li>
                        <li><i class="fa fa-close"></i>Lorem ipsum dolor </li>
                        <li><i class="fa fa-close"></i>Lorem ipsum </li>
                    </ul>
                    <a href="#" class="btn btn-primary custom-button blue-btn">
                        Sign Up </a>
                </div>
            </div>

            <div class="col-lg-3 col-sm-3">
                <div class="best-value">
                    <div class="package wow fadeInUp animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
                        <div class="package-header red-bg">
                            <h4>Premium</h4>
                            <div class="meta-text">
                                Best Value
                            </div>
                        </div>
                        <div class="price dark-bg">
                            <h4><span class="dollar-sign">&#8377;</span>53</h4>
                            <span class="price-meta">/ yr</span>
                        </div>
                        <ul>
                            <li><i class="fa fa-check"></i>Lorem ipsum dolor </li>
                            <li><i class="fa fa-check"></i>Lorem ipsum </li>
                            <li><i class="fa fa-check"></i>Lorem ipsum dolor </li>
                            <li><i class="fa fa-check"></i>Lorem ipsum dolor </li>
                            <li><i class="fa fa-close"></i>Lorem ipsum </li>
                        </ul>
                        <a href="#" class="btn btn-primary custom-button red-btn">
                            Sign Up </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-3">
                <div class="package wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
                    <div class="package-header yellow-bg">
                        <h5>Ultimate</h5>
                    </div>
                    <div class="price dark-bg">
                        <h4><span class="dollar-sign">&#8377;</span>99 </h4>
                        <span class="price-meta">/ yr</span>
                    </div>
                    <ul>
                        <li><i class="fa fa-check"></i>Lorem ipsum dolor </li>
                        <li><i class="fa fa-check"></i>Lorem ipsum </li>
                        <li><i class="fa fa-check"></i>Lorem ipsum dolor </li>
                        <li><i class="fa fa-check"></i>Lorem ipsum dolor </li>
                        <li><i class="fa fa-check"></i>Lorem ipsum </li>
                    </ul>
                    <a href="#" class="btn btn-primary custom-button yellow-btn">
                        Sign Up </a>
                </div>
            </div>
        </div> <!-- / END PACKAGES -->

    </div> <!--END CONTAINER  -->
</section> <!-- END PACKAGES SECTION -->


<!-- =========================
   FOOTER
============================== -->

<footer>
    <div class="container">

        <!-- COMPANY ADDRESS-->
        <div class="col-md-5 company-details">
            <div class="icon-top red-text">
                <i class="icon-fontawesome-webfont-302"></i>
            </div>
            6th floor, STPI, Electronic city, Bangalore
        </div>

        <!-- COMPANY EMAIL-->
        <div class="col-md-2 company-details">
            <div class="icon-top green-text">
                <i class="icon-fontawesome-webfont-329"></i>
            </div>
            contact@varenyasoftech.com
        </div>

        <!-- COMPANY PHONE NUMBER -->
        <div class="col-md-2 company-details">
            <div class="icon-top blue-text">
                <i class="icon-fontawesome-webfont-101"></i>
            </div>
            +91-00-0000-0000
        </div>

        <!-- SOCIAL ICON AND COPYRIGHT -->
        <div class="col-lg-3 col-sm-3 copyright">
            <ul class="social">
                <li><a href=""><i class="icon-facebook"></i></a></li>
                <li><a href=""><i class="icon-twitter-alt"></i></a></li>
                <li><a href=""><i class="icon-linkedin"></i></a></li>
                <li><a href=""><i class="icon-behance"></i></a></li>
                <li><a href=""><i class="icon-dribbble"></i></a></li>
            </ul>
            ©2016 Varenya Softech
        </div>
    </div> <!-- / END CONTAINER -->
</footer> <!-- / END FOOOTER  -->
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-sm" role="document" ng-controller="View1Ctrl">
        <div class="modal-content details-form login-cont">
            <form name="userForm" >
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title login-title" >Login</h3>
                    <p>Fill out the details below to login to dashboard panel </p>
                </div>
                <div class="modal-body">
                    <div class="input-field username" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
                        <input type="text"  value="" placeholder="Email" ng-model="credentials.identifier" required/>
                        <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter your valid email id.</p>
                    </div>
                    <div class="input-field password" ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine }">
                        <input type="password" value="" placeholder="Password" ng-model="credentials.password" required/>
                        <p ng-show="userForm.password.$invalid && !userForm.password.$pristine" class="help-block">Enter your password.</p>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left custom-button register-btn open-signup">Register</button>
                    <button type="submit"  data-ng-click="myFunc()" class="btn green-btn custom-button" ng-disabled="userForm.$invalid">Login</button>
                    <div class="login-divider">Or</div>
                    <div class="login-fb-btn">
                        <a data-ng-click="myFacebookSingUp()" class="btn facebook-btn custom-button btn-block"><i class="fa fa-facebook-official"></i>Login&nbsp; with&nbsp; Facebook</a>
                    </div>
                    <div class="login-fb-btn">
                        <a href="#" class="btn custom-button btn-block linkedin-btn"><i class="fa fa-linkedin"></i>Login&nbsp; with&nbsp; LinkedIn</a>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-content details-form signup-cont">
            <form name="register" >
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title login-title" id="myModalLabel">Signup</h3>
                    <p>Fill out the details below to register</p>
                </div>
                <div class="modal-body">
                    <div class="input-field username" ng-class="{ 'has-error' : register.fullname.$invalid && !register.fullname.$pristine }">
                        <input type="text"  value="" placeholder="Name" ng-model="credentials.username" required/>
                        <p ng-show="register.fullname.$invalid && !register.fullname.$pristine" class="help-block">Enter your Full name</p>
                    </div>
                    <div class="input-field email" ng-class="{ 'has-error' : register.email.$invalid && !register.email.$pristine }">
                        <input type="email" value="" placeholder="Email" ng-model="credentials.email" required/>
                        <p ng-show="register.email.$invalid && !register.email.$pristine" class="help-block">Enter your valid email id</p>
                    </div>
                    <div class="input-field phoneNo" ng-class="{ 'has-error' : register.phone.$invalid && !register.phone.$pristine }">
                        <input type="phone"  value="" placeholder="Phone" ng-model="credentials.phone" ng-pattern="regex" required/>
                        <p ng-show="register.phone.$invalid && !register.phone.$pristine" class="help-block">Enter your valid phone no.</p>
                    </div>
                    <div class="input-field panNo"ng-class="{ 'has-error' : register.pan.$invalid && !register.pan.$pristine }">
                        <input type="text"value="" placeholder="Pan no." ng-model="credentials.pan" required/>
                        <p ng-show="register.pan.$invalid && !register.pan.$pristine" class="help-block">Enter your valid pan no.</p>
                    </div>
                    <div class="input-field password" ng-class="{ 'has-error' : register.password.$invalid && !register.password.$pristine }">
                        <input type="password"  value="" placeholder="Password" ng-model="credentials.password" required/>
                        <p ng-show="register.password.$invalid && !register.password.$pristine" class="help-block">Enter your password</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left custom-button register-btn open-login">Login</button>
                    <button type="submit"  data-ng-click="mySingup()"class="btn green-btn custom-button">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>


